@reference "../../../globals.css";

@layer components {
    .contextMenu {
    @apply bg-white text-xs border p-1 w-[100px] h-fit border-gray-300 shadow-lg rounded-md z-50 fixed;
    .contextMenuItem {
      @apply px-2 py-1 hover:bg-light cursor-pointer select-none rounded-md;
    }
  }
}