@reference './globals.css';


@layer components {
  .tabHover {
    display: none;
    position: absolute;
    background-color: var(--color-white);
    border-radius: 8px;
    top: 90%;
    left: 50%;
    transform: translateX(-50%) scale(90%);
    z-index: 10;
    padding: 8px;
    width: 100px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    color: var(--color-main);

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 100%;
      border: 8px solid transparent;
      border-bottom-color: var(--color-white);
    }

  }

  .strokeText {
    position: relative;

    &::before {
      content: attr(data-stroke);
      position: absolute;
      color: white;
      position: absolute;
      z-index: -1;
      font-weight: bold;
      -webkit-text-stroke: 5px white;
      text-stroke: 5px white;
    }
  }

  .loading {
    width: 60px;
    height: 16px;
    display: grid;

    &::before,
    &::after {
      content: "";
      grid-area: 1/1;
      --c: no-repeat linear-gradient(var(--color-main) 0 0);
      background: var(--c), var(--c), var(--c);
      animation: l16-1 1.5s infinite linear, l16-2 1.5s infinite linear;
      transform: scale(var(--s, 1)) translate(3px, -3px);
    }

    &::after {
      --s: -1;
    }

    @keyframes l16-1 {

      0%,
      3% {
        background-size: 0 4px, 4px 0, 0 4px
      }

      16.67% {
        background-size: 100% 4px, 4px 0, 0 4px
      }

      33.33% {
        background-size: 100% 4px, 4px 100%, 0 4px
      }

      46%,
      54% {
        background-size: 100% 4px, 4px 100%, 100% 4px
      }

      66.67% {
        background-size: 0 4px, 4px 100%, 100% 4px
      }

      83.33% {
        background-size: 0 4px, 4px 0, 100% 4px
      }

      96%,
      100% {
        background-size: 0 4px, 4px 0, 0 4px
      }
    }

    @keyframes l16-2 {

      0%,
      49.9% {
        background-position: 0 0, 100% 0, 100% 100%
      }

      50%,
      100% {
        background-position: 100% 0, 100% 100%, 0 100%
      }
    }
  }

  .sidePanel {
    @apply fixed top-20 -left-9 z-10 text-sm leading-[1.1] text-center text-white bg-secondary h-[18vh] max-h-24 w-12 rounded-r-md [writing-mode:vertical-lr] flex flex-col items-center justify-around gap-2 cursor-pointer transition-all;

    &.open {
      left: 0;
    }
  }
}

@media (max-width: 600px) {
  [data-sonner-toaster] [data-sonner-toast] {
    left: 40% !important;
    transform: translateX(-50%);
    // right: 0;
  }
}