@layer components {
  .article {
    font-size: 0.8rem;
    padding: 0 calc(var(--spacing) * 3) 0;
    
    img {
      display: inline-block;
      margin: calc(var(--spacing) * 0.5);
      height: 1.1rem;
      width: auto;
    }
  }
}