@reference "../../../globals.css";


@layer components {
  .plurkMobile {
    @apply flex bg-light text-[0.8rem] p-3 mb-1 items-start gap-4 relative;

    div.plurkContent {
      @apply text-gray-800;
      overflow-y: hidden;
      overflow-x: hidden;
      max-height: 1.15rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 80%;
      // color: var(--color-gray-800);
      // line-height: 1.15;
    }

    img {
      @apply inline-block m-0.5 h-[1.6rem] w-auto;
    }

    a {
      @apply text-[#2153D2] underline;
    }

    a.meta {
      @apply cursor-pointer block mt-[1px] mb-[4px] overflow-hidden p-1 relative text-[#2153D2] rounded-sm bg-[rgba(33,83,210,0.04)] border-[rgba(33,83,210,0.08)] border-[1px];
    }
  }

    .scrollbar {
      scrollbar-width: thin;
      scrollbar-color: var(--color-main) transparent;
  
      &::-webkit-scrollbar {
        width: 8px;
      }
  
      &::-webkit-scrollbar-track {
        background: transparent;
      }
  
      &::-webkit-scrollbar-thumb {
        background-color: var(--color-main);
      }
    }


  .filterBtn {
    @apply flex border-[1px] border-main text-main rounded-full text-[0.75rem] px-2 py-1 cursor-pointer;
    // background: var(--color-main);
    &.active {
      @apply  bg-plain text-main border-none; 
    }
  }
}

[data-vaul-drawer][data-vaul-drawer-direction=bottom]::after {
  z-index: -1;
}